footer {
  background-color: #eeefef;
  padding: 50px 60px;
  color: #585c70;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.listContainer ul h3 {
  color: #f44147;
  font-weight: 800;
}

.listContainer ul li:hover {
  color: #f44147;
  cursor: pointer;
}

.policyContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.policyContainer .cod {
  display: flex;
  gap: 12px;
}

.policyContainer .cod span {
  width: 20px;
  height: 20px;
  border: 1px solid #585c70;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-size: 18px;
}

.follow i {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: #fff;
}

.follow i:nth-child(1) {
  background-color: #6081c0;
}

.follow i:nth-child(2) {
  background-color: #c03694;
}

.follow i:nth-child(3) {
  background-color: #f9b927;
}
.follow i:nth-child(4) {
  background-color: #4abbe9;
}

.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

@media screen and (max-width: 800px) {
  .listContainer {
    justify-content: center;
  }
  .policyContainer {
    justify-content: center;
    align-items: center;
  }
  .follow {
    justify-content: center;
    align-items: center;
  }
  .copyRight {
    justify-content: center;
    align-items: center;
  }
}
